#playground{
	background-color: #e0ffe0;
	width: 800px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

#ball{
	background-color: #fbb;
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	left: 250px;
	top: 100px;
	line-height: 40px;
	text-align: center;
	font-size: 22px;
	font-weight: bolder;
}

.paddle{
	background-color: #bbf;
	position: absolute;
	left: 80px;
	top: 50px;
	width: 40px;
	height: 130px;
}
#paddleB{
	left: 680px;
}
.score{
	color: black;
	font-size: 16px;
	font-weight: bold;
}
button{
	height: 40px;
	width: 120px;
	font-size: 20px;
	font-weight: bold;
}