#game{
	position: relative;
}
.card{
	width: 105px;
	height: 150px;
	position: absolute;
}
.cardAK{
	background-image: url(../images/AK.jpg);
	position: absolute;
	left: 240px;
	top: 30px;
}
.cardAQ{
	background-image: url(../images/AQ.jpg);
	position: absolute;
	left:125px;
	top: 30px;
}
.cardAJ{
	background-image: url(../images/AJ.jpg);
	position: absolute;
	left:10px;
	top: 30px;
}
.reverse{

}
button{
	position: relative;
	top: 200px;
	left: 10px;
	width: 105px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: black;
	border-radius: 5px;
	margin: 0 5px;
}
.transX{
	transition: all 2s;
	transform: rotate3d(1, 0, 0, 60deg);
}
.transY{
	transition: all 2s;
	transform: rotate3d(0, 1, 0, 60deg);
}
.transZ{
	transition: all 2s;
	transform: rotate3d(0, 0, 1, 60deg);
}